@import url("https://fonts.googleapis.com/css2?family=Mingzat&family=Poppins&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

                /* 
                 01. Banner Part
                                */
.banner-name {
  color: white;
  padding-top: 2vw;
  padding-left: 7vw;
}
#banner-id-h {
  font-weight: 700;
  font-size: 50px;
  line-height: 48px;
  margin-bottom: 0px;
}
#banner-id-p {
  width: 60%;
}
.banner-button {
  background-color: red;
  color: white;
  padding: 10px 8px;
  font-weight: 700;
  border-radius: 7px;
  border: none;
}
.fa-greater-than {
  padding-left: 7px;
}
.background-banner {
  background-color: black;
  /* width: 1321px; */
  height: 410px;
  margin-top: 50px;
  margin-right: 141px;
  margin-left: 131px;

  border-radius: 30px;
}

.banner-image {
  background-image: url("./image/Banner\ Image.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 581px;
  height: 613px;
  left: 823px;
  top: 120px;
}
            /* 
            
                   */


            /* 
              FOOTER PART
                          */
.footer-part {
  text-align: center;
  color: white;
  background-color: black;
  height: 295px;
  width: 100%;
  padding-top: 48px;
  margin-top: 100px;
}

hr{
  width: 80%;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-last-part{
  display: flex;
  justify-content:center;
  font-size: 12px;
  /* display: grid;
  grid-template-columns:repeat(6,1fr);
  column-gap: 0px; */
}
.footer-last-part p{
  padding: 10px;
}