@import url("https://fonts.googleapis.com/css2?family=Mingzat&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* 
                 01. Banner Part
                                */
.banner-name {
  color: white;
  padding-top: 2vw;
  padding-left: 7vw;
}
#banner-id-h {
  font-weight: 700;
  font-size: 50px;
  line-height: 48px;
  margin-bottom: 0px;
}
#banner-id-p {
  width: 50%;
  padding-bottom: 24px;
  padding-top: 10px;
}
.banner-button {
  background-color: red;
  color: white;
  padding: 10px 8px;
  font-weight: 700;
  border-radius: 7px;
  border: none;
}
.fa-greater-than {
  padding-left: 7px;
}
.background-banner {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  background-color: #262222;
  margin-top: 25px;
  border-radius: 20px;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 35px;
  margin-bottom: 80px;

  border-radius: 30px;
}

.banner-image {
  background-image: url("./image/Banner\ Image.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 581px;
  height: 613px;
  left: 744px;
  top: 77px;
}
/* 
            02.match part
                   */
.world-cup-fixtures {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.switch-table {
  padding: 11px 18px;
  background-color: #262222;
  border-radius: 4px;
  max-width: 185px;
  height: 115px;
}
.switch-table ul {
  list-style: none;
}
.switch-table ul li {
  margin: 10px 0px;
}
.switch-table ul li a {
  background: white;
  text-decoration: none;
  color: black;
  font-size: 10px;
  font-weight: 500;
}
.upcoming-match {
  padding: 5px 10px;
  border-radius: 5px;
}
.all-group {
  padding: 5px 30px;
  border-radius: 5px;
}
.thumbnail img {
  width: 100%;
}
.special-btn {
  padding: 5px 41px;
  border-radius: 5px;
  background: #00ff8e !important;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.blog {
  width: 200px;
  /* height: 332px; */
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}

.transfer-btn {
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px 10px;
  background: white;
}
.blog h4 {
  font-weight: 600;
  font-size: 14px;
}
.transfer-info {
  display: flex;
}
.transfer-details {
  padding: 12px 18px;
}
.transfer-details h4 {
  padding: 11px 0;
}
.transfer-info {
  color: rgba(22, 22, 22, 0.7);
}

.fa-regular {
  margin-right: 10px;
}

.transfer-duration {
  margin-right: 35px;
}

/* 
              03.FOOTER PART
                          */
.footer-part {
  text-align: center;
  color: white;
  background-color: black;
  height: 295px;
  width: 100%;
  padding-top: 48px;
  margin-top: 100px;
}

hr {
  width: 80%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-left: 94px;
}
.footer-last-part {
  display: flex;
  justify-content: center;
  font-size: 12px;
}
.footer-last-part p {
  padding: 10px;
}
